:root {
    --header-height: 150px;
}

body {
    font-family: sans-serif;
    font-weight: bold;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0 0;
}

img {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-right: 18px;
}

.left {
    width: 16vw;
    background-color: #1992D4;
    color: white;
}

.left img {
    
    filter: invert(100%);
}

.container {
    display: grid;
    grid-template-rows: 200px 300px 300px;
    box-sizing: border-box;
}

.dashboard-title {
    font-size: 28px;
}

.dashboard-title > img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 13px;
    padding-bottom: 15px;
}

nav > ul {
    list-style: none;
    font-size: 20px;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.left a {
    text-decoration: none;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    height: var(--header-height);
    flex-shrink: 0;
    margin-left: 2vw;
}

.upper {
    height: calc(var(--header-height) / 2);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.search-bar {
    flex: 1;
}

#search {
    width: 80%;
    height: 2rem;
    border-radius: 15px;
    background-color: #E2E8F0;
    border: none;
}

#search:focus {
    padding: 5px 10px;
    outline: none;
    border: none;
}

.personal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.personal > .name {
    margin-right: 8vw;
    font-size: 18px;
}

.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.content {
    background-color: #E2E8F0;
    height: 100%;
}
