@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --header-height: 150px;
    --font: 'Roboto', sans-serif;
}

body {
    font-family: var(--font);
    font-weight: bold;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0 0;
}

img {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-right: 18px;
}

ul {
    list-style: none;
}

button {
    padding: 8px 25px;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 1.2em;
    font-weight: bold;
    min-width: 120px;
    height: 40px;
    background-color: #1992D4;
    color: white;
    border-radius: 30px;
    border: none;

}

.left {
    width: 16vw;
    background-color: #1992D4;
    color: white;
}

.left img {
    
    filter: invert(100%);
}

.container {
    display: grid;
    grid-template-rows: 200px 300px 300px;
    box-sizing: border-box;
}

.dashboard-title {
    font-size: 28px;
}

.dashboard-title > img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 13px;
    padding-bottom: 15px;
}

nav > ul {
    font-size: 20px;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.left a {
    text-decoration: none;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    height: var(--header-height);
    flex-shrink: 0;
    margin-left: 2vw;
    padding-bottom: 10px;
}

.upper {
    height: calc(var(--header-height) / 2);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.search-bar {
    flex: 1;
}

#search {
    width: 80%;
    padding: 5px 10px;
    font-size: 1.2rem;
    height: 2rem;
    border-radius: 15px;
    background-color: #E2E8F0;
    border: none;
}

#search:focus {
    outline:1px solid black;
    border: none;
}

.personal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.personal > .name {
    margin-right: 8vw;
    font-size: 18px;
}

.profile-pic {
    border-radius: 50%;
}

.personal > .profile-pic {
    width: 45px;
    height: 45px;
}

.lower {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lower .profile-pic {
    width: 60px;
    height: 60px;
}

.greeting {
    flex: 1;
    vertical-align: middle;
}

.greeting .name {
    font-size: 24px;
}

.actions {
    justify-content: right;
    margin-right: 6vw;
}

.actions li {
    display: inline;
    padding: 10px 12px;
}

.content {
    background-color: #E2E8F0;
    height: 100%;
}
