body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0 0;
}

.left {
    width: 16vw;
    background-color: #1992D4;
    color: white;
    font-weight: bold;
}

.left img {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-right: 18px;
    filter: invert(100%);
}

.container {
    display: grid;
    grid-template-rows: 200px 300px 300px;
    box-sizing: border-box;
}

.dashboard-title {
    font-size: 28px;
}

.dashboard-title > img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 13px;
    padding-bottom: 15px;
}

nav > ul {
    list-style: none;
    font-size: 20px;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
}
